<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr>
      <tr> <td>08:30</td>  <td>Intro/Setup</td></tr>
      <tr> <td>09:00</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/01-regular-expressions/index.html">Regular Expressions</a></td> </tr>
      <tr> <td>09:35</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/02-match-extract-strings/index.html">Matching & Extracting Strings</a></td> </tr>
      <tr> <td>10:05</td>  <td>Break</td></tr>
      <tr> <td>10:20</td>  <td><a href="https://librarycarpentry.org/lc-data-intro/03-quiz/index.html">Multiple Choice Quiz</a></td> </tr>
      <tr> <td>11:20</td>  <td>Exercises</td> </tr>
      <tr> <td>12:10</td>  <td>Wrap-up</td> </tr>

    </table>
  </div>

</div>
